.offer {
  background: linear-gradient(
      0deg,
      rgba(39, 55, 85, 0.7),
      rgba(39, 55, 85, 0.7)
    ),
    url(../../images/shoe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Playfair Display', serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  padding: 30px;
}

.offer-img {
  height: 300px;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exclusive-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

h1 {
  color: #fffcf2;
}
.offer p {
  font-size: 22px;
  letter-spacing: 1px;
  color: #fffcf2;
}

.offer .btn {
  font-size: 20px;
  color: #24324a;
}

.offer .col-2 h1 span {
  color: #ffd741;
}

@media only screen and (min-width: 800px) {
  .col-2 p {
    font-size: 14px;
    line-height: 20px;
  }
  .exclusive-text {
    align-items: flex-start;
  }
  .col-2 h1 {
    font-size: 36px;
    letter-spacing: 1px;
  }
  .offer-img {
    height: 400px;
  }
  .offer .btn {
    font-size: 12px;
  }
}
